body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #706a6a1a;
}


/*sidebar design*/
#sidebar {
    position: fixed;
    width: 200px;
    height:100%;
    background-color: grey;
    left: -200px;
    transition: all 500ms linear;
    z-index: 1;
}
#sidebar.active {
    left:0px
}
/*sidebar design list*/
#sidebar ul li {
    color: whitesmoke;
    list-style: none;
    padding: 15px 10px;
    border-bottom: 1px solid gray;
}
#sidebar .toggle-btn {
    position: absolute;
    left: 200px;
    top: -3px;
}
#sidebar .toggle-btn span {
    display: block;
    width: 30px;
    height: 5px;
    background:black;
    margin: 3px 0px;
    
}
div.songlinks ul {
    list-style: none
}
div.firstp p {
    padding: 10px;
    margin: 10px;
}
/*media design*/
.container {
    position: relative;
    width: 20%;
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    
  }
  .overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:gainsboro;
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
  }
  .container:hover .overlay {
    height: 100%;
  }
  .text {
    white-space: nowrap; 
    color: rgb(2, 10, 48);
    font-size: 13px;
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }
  /*flexbox on media*/
  .flex-container {
    display: flex;
    justify-content: flex-start;
    background-color: white;
  }
  .flex-container > div {
    background-color: #f1f1f1;
    width: 150px;
    margin: 20px;
    text-align: center;
    line-height: 75px;
    font-size: 20px;
  }
  .footer {
      padding: 20px 25px;
      margin: 0px 0px;
      background-color: #91a1adba;
  }