doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  meta(http-equiv='X-UA-Compatible' content='ie=edge')
  link(rel='stylesheet' href='css/event.css')
  title Event
a(href='/home') Go to Home Page
.one
  h1 Up Coming 
.two
    dl
      dt Name:
      dd Band Concert
      dt Date:
      dd Wednesday, June 6 at 6:30pm
      dt Address:
      dd Forks Market Rd, Winnipeg, MB R3C 4S8
      dt Details:
      dd
        | Mickey and his band are determined to perform their music despite the interferance of Donald Duck and a powerful storm.
footer.footer
  | &copy;  Proudly created by Nana Graff 2018
